.container {
  color: white;
  background-color: #6b0000;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #6b0000;
  border-radius: 5px;
}

body{
  background-color: red;
}
h1 {
  text-align: center;
}

form {
  margin-bottom: 20px;
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #e75d5d;
}

#comentario{
  background-color: #e75d5d; ;
  }
#descricao{
  background-color: #e75d5d; ;
  }
#data{
  background-color: #e75d5d; ;
  }
#comentario{
  background-color: #e75d5d; ;
  }
#prioridade{
  background-color: #e75d5d; ;
  }
#notificacao{
  background-color: #e75d5d; ;
  }
#ordenacao{
  background-color: #e75d5d; ;
  }

#botaoGrande{
  padding: 10px 20px;
  background-color: rgb(136, 8, 8);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#botaoGrande:hover {
  border-style: solid;
  border-color: red;
  color: rgb(136, 8, 8);
  background-color: white;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.tarefa {
  background-color: #c74e4e;
  padding: 10px;
  border-radius: 5px;
  
}

.botaoContainer {
  display: flex;
  justify-content:flex-end;
  align-items: center;
}

.tarefa button {
  margin: 5px;
}

.tarefa button {
  color: white;
  text-decoration: none;
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-variant: small-caps;
  border-color: rgb(136, 8, 8);
  border-style: solid;
}
.tarefa button:hover{
  border-style: solid;
  border-color: rgb(136, 8, 8);
  color: red;
  background-color: white;
}
.tarefa button:active{
  border-style: solid;
  color: white;
  background-color: rgb(136, 8, 8);
  border-color: red;

}